.cards {
    display: flex;

  .card {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
    height: 230px;
    transition: 200ms;

    img {
      height: 150px;
      width: 150px;
    }

    .names {
      display: flex;
      flex-direction: column;
      width: 150px;
      color: white;

      .autor {
        color: rgb(196, 194, 194);
        font-size: 12px;
      }
    }
  }

  .card:hover {
    background-color: rgb(51, 51, 51);
  }
}
