.card{
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
    height: 230px;

    img{
        height: 150px;
        width: 150px;
    }

    .names{
        display: flex;
        flex-direction: column;
        width: 150px;
        color: white;

        .autor{
            color: rgb(196, 194, 194);
            font-size: 12px;
        }
    }
}