header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .a {
        display: flex;
    }

    .image {
        margin: 10px;
        margin-left: 20px;
        display: flex;
        align-items: center;

        img {
            height: 35px;
            width: 35px;
        }
    }

    .main {
        display: flex;
        margin: 10px;
        gap: 10px;

        .home {
            background-color: var(--primary-color);
            border-radius: 100%;
            border: none;
            height: 50px;
            width: 50px;

            img {
                height: 30px;
                width: 30px;
            }
        }

        .input {
            background-color: var(--primary-color);
            border-radius: 80px;
            width: 500px;
            display: flex;

            button {
                background-color: transparent;
                border: none;
            }

            input {
                background-color: var(--primary-color);
                border: none;
                width: 460px;
                border-radius: 80px;
                color: white;
            }
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        gap: 20px;

        .enter {
            padding: 13px;
            border-radius: 30px;
            width: 120px;
            background-color: white;
            font-size: 15px;
            transition: 100ms;
        }

        .enter:hover {
            padding: 15px;
            background-color: rgb(212, 212, 212);
            cursor: pointer;
        }

        .sub {
            background-color: transparent;
            color: rgb(211, 211, 211);
            border: none;
            transition: 100ms;
        }

        .sub:hover{
            cursor: pointer;
            color: white;
            font-size: 14px;
        }
    }
}