main{
    background-color: var(--primary-color);
    display: flex;

    .text{
        display: flex;
        margin: 20px;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;

        .title{
            color: white;
            text-decoration: none;
            font-size: 20px;
        }

        .link{
            color: rgb(196, 194, 194);
            text-decoration: none;
            font-size: 13px;
        }
    }
}