main {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;

    .text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        align-items: flex-end;

        .title {
            margin-top: 20px;
            margin-left: 30px;
            color: white;
            text-decoration: none;
            font-size: 20px;
        }

        .title:hover {
            text-decoration: underline;
        }

        .link {
            margin-right: 30px;
            color: rgb(196, 194, 194);
            text-decoration: none;
            font-size: 13px;
        }

        .link:hover {
            text-decoration: underline;
        }
    }

    .card {
        margin-left: 20px;
        display: flex;
        align-items: center;


        .carousel {
            display: flex;
            overflow: hidden;
            scroll-behavior: smooth;
            gap: 16px;
            width: 100%;
            padding: 16px 0;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
        }

        .nav-button-left {
            height: 50px;
            width: 50px;
            margin-left: 10px;
            border-radius: 100%;
            background-color: black;
            border: none;
            color: white;
        }

        .nav-button-right {
            height: 50px;
            width: 50px;
            margin-right: 20px;
            border-radius: 100%;
            background-color: black;
            border: none;
            color: white;
        }
    }
}