main{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;

    .text{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;

        .title{
            margin-top: 20px;
            margin-left: 20px;
            color: white;
            text-decoration: none;
            font-size: 20px;
        }

        .link{
            margin-right: 20px;
            color: rgb(196, 194, 194);
            text-decoration: none;
            font-size: 13px;
        }
    }

    .card{
        margin-left: 20px;
    }
}